<footer>
    <div class="f-info">
        <div class="f-info-social">

        </div>
        <div>ExploreEase Private Limited</div>
        <div class="f-info-links">
            <a href="/Pravacy"></a>
            <a href="/Terms"></a>
        </div>
    </div>
</footer>