<% layout("/layouts/boilerplate") -%>


<div class="row mt-3">
    <h3 class="col-6 offset-3">SignUp on ExploreEase</h3>
    <%= success %>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation "novalidate>

            <div class ="mb-3">
                <label for="username"class="form-labal ">Username</label>
                <input name="username" 
                    id="username"
                    placeholder="enter title" 
                    type="text"
                    class="form-control" 
                    required 
                />
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class ="mb-3">
                <label for="email"class="form-labal ">Email</label>
                <input name="email" 
                    id="email"
                    placeholder="enter email" 
                    type="email"
                    class="form-control" 
                    required 
                />
            </div>

            <div class ="mb-3">
                <label for="password"class="form-labal ">Password</label>
                <input name="password" 
                    id="password"
                    placeholder="enter Password" 
                    type="password"
                    class="form-control" 
                    required 
                />
            </div>
            <button class="btn btn-success ">SignUp</button>


        </form>
    </div>
</div>
